PORT=

NODE_ENV=

# DB 
DEV_DB_URL=
PROD_DB_URL=

# JWT
Access_Token_Key=
Access_Token_Time=
Refresh_Token_Key=
Refresh_Token_Time=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# Super-admin
USER_NAME=
FULL_NAME=
PASSWORD=


# Email
EMAIL_USER= qosimovmirjalol829@gmail.com
EMAIL_PASS= uoetydfzddeedwsj